node_modules/
dist/
logs/
.env
.DS_Store

# Ignore all files in the dist directory
dist/*

# Ignore all files in the node_modules directory
node_modules/*

# Ignore all files in the logs directory
logs/*

# Ignore all files in the src/db directory
src/db/*

# Ignore all files in the src/wasm directory
src/wasm/*

package-lock.json
ecosystem.config.js