node_modules/
dist/
.env
.DS_Store

# Ignore all files in the dist directory
dist/*

# Ignore all files in the node_modules directory
node_modules/*
package-lock.json
ecosystem.config.js
src/db/setup.sh
src/db/init.sql
