# Database Configuration
DB_USER=
DB_HOST=
DB_NAME=
DB_PASSWORD=
DB_PORT=
DB_POOL_MIN=
DB_POOL_MAX=

# API Security
API_SECRET=
FRONTEND_URL=

# Claim Configuration
DEFAULT_CLAIM_AMOUNT=
CLAIM_TICKER=

# Wallet Configuration
WALLET_PRIVATE_KEY=

# Kaspa Configuration
NETWORK=
PRIORITY_FEE=
TIMEOUT=
LOG_LEVEL=